body {
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 140%;
    font-family:serif;
    background-color:gainsboro;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

#exmp {
    background-color: #f8f0e3;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color:rgb(107, 107, 107);
}